<div class="imgcontainer">
	<img src="../../assets/login.jpg" alt="Avatar" class="avatar">
	<h1>Register</h1>
</div>
<div class="container">
			<form #registerForm="ngForm">
				<div class="form-group">
					<label for="login">Login</label>
					<input type="text" class="form-control" [(ngModel)]="formData.login" name="login"
						#login="ngModel" required>
				</div>
				<div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert alert-danger">
					<div *ngIf="login.errors.required">
						Login is required
					</div>
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" [(ngModel)]="formData.password" #password="ngModel"
						name="password" required>
				</div>

				<div class="form-group">
					<label for="passwordConfirmation">Confirm Password</label>
					<input type="password" class="form-control" [(ngModel)]="formData.passwordConfirmation"
						#passwordConfirmation="ngModel" name="passwordConfirmation" required>
				</div>
				<div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
					class="alert alert-danger">
					<div *ngIf="passwordConfirmation.errors.required">
						Confirm Password is required
					</div>
				</div>

				<div class="form-group">
					<label for="Prenom">Prénom</label>
					<input type="text" class="form-control" [(ngModel)]="formData.prenom" name="Prenom"
						#Prenom="ngModel" required>
				</div>
				<div *ngIf="Prenom.invalid && (Prenom.dirty || Prenom.touched)" class="alert alert-danger">
					<div *ngIf="Prenom.errors.required">
						Prenom is required
					</div>
				</div>

				<div class="form-group">
					<label for="nom">Nom</label>
					<input type="text" class="form-control" [(ngModel)]="formData.nom" #nom="ngModel"
						name="nom" required>
				</div>
				<div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
					<div *ngIf="nom.errors.required">
						Nom is required
					</div>
				</div>

				
				
				<button (click)="register()" type="submit" class="btn btn-warning"
					[disabled]="!registerForm.form.valid">Register</button>
			</form>
		
</div>